* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

#figure {
  border: 1px solid #000;
  background-color: #000;
}

.square {
  width: 100px;
  height: 100px;
}

.rectangle {
  width: 100px;
  height: 50px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn {
  height: 25px;
  margin-top: 10px;
  display: block;
  width: 104px;
  background-color: rgb(94, 213, 94);
}

.items {
  margin-left: 20px;
  margin-top: 10px;
}

.items input {
  margin-top: 10px;
  width: 104px;
}
